#map {
	border: 2px solid #745C1B;
	background: #fff url(/img/noise.png);
	border-radius: 5px;
}

svg path { stroke-linejoin: round }

svg .sea { 
	fill: #fff;
	stroke-width: .25px; 
}

svg .graticule {
	fill: none;
	stroke-width: .2px;
}
svg .bg, svg .bgback {
	stroke: none;
	fill: #fff;
	fill-opacity: 1;
}
svg .bgstroke {
	stroke: #7C5B27;
	stroke-width:.7px;
	fill:none;
}
svg .context {
	stroke: #D1BEB0;
	stroke-opacity: .3;
	fill: #D1BEB0;
	fill-opacity: .23;
}
svg .fg {
	stroke: #cbb;
	stroke-opacity: 1;
	stroke-dasharray: 3,5;
	fill: #fff;
	fill-opacity: 0;
}
svg .fg:hover {
	fill: #eda;
	fill-opacity: .37;
}
svg .dotMarker {
	stroke: #330;
	stroke-opacity: .8;
	fill: #ff7;
	fill-opacity: .2;
}
svg .dotMarker:hover {
	stroke: #000;
	fill: #ff3;
	fill-opacity: .7;
}
svg .ferry {
	stroke-opacity: .5;
	stroke-dasharray: 3,4;
}

.k-layer-toggle h2 {
	margin: 20px 0 10px;
	font-size: 20px;
}
.k-layer-toggle label {
  margin-left: 3px;
}